.forgot_pass_page {
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Left content */

.forgot_pass_page .left_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot_pass_page .left_content form {
    margin-top: 50px;
}

.forgot_pass_page .left_content form label {
    color: #37474F;
    padding: 5px 0px;
}

.forgot_pass_page .left_content form input {
    margin-top: 5px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 7px;
    border: 1.5px solid #D4D4D7;
    outline: none;
    color: #535261;
}

.forgot_pass_page .left_content form p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    margin: 10px 0px;
}

.forgot_pass_page .left_content form .item_bottom {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}

.forgot_pass_page .left_content form .item_bottom button {
    padding: 5px 0;
    width: 160px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.forgot_pass_page .left_content form .item_bottom .next {
    background-color: #FF9138;
    color: white;
}

.forgot_pass_page .left_content form .item_bottom .exit {
    border: 1px solid #FF9138;
    color: #FF9138;
}

.forgot_pass_page .left_content form .password {
    position: relative;
}

.forgot_pass_page .left_content form .password i {
    position: absolute;
    right: 1vh;
    color: #535261;
    bottom: 2vh;
    font-size: 14px;
}


/* Right content */

.forgot_pass_page .right_content {
    height: 100%;
    background-color: white;
}

.forgot_pass_page .right_content .bg_right {
    margin: auto;
}